
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
:root {
  --cor-principal:#00BFFF;
  --cor-secundaria: #009EFF;
  --cor-destaque: #9d00ff;
}

body {
  font-family: "Chakra Petch", sans-serif;
}
h1,
h2,
h5 {
  color: var(--cor-secundaria);
  font-weight: 700;
}
meu-footer a {
   background-color: #9d00ff; 
  padding: 20px;;
}